/* /* .navbar{
    background-color: aqua;
    font-weight: bold;
} 

#nav-bar{
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    background-color:blue;
} 
 .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:blue;
    color: aliceblue;
    padding: 15px 30px;

 }*/
 /* Mulu page ekama set kirima */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
}

/* Navigation Bar eka style kirima */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 15px 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

/* Center eke thiyena Content eka (Hero Section) */
.content {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content h1 {
    font-size: 3rem;
    color: #333;
}

.content p {
    color: #666;
    margin-bottom: 20px;
}

/* Blue Button eka */
.button {
    background-color: #08334f;
    color: rgb(43, 16, 248);
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.button:hover {
    background-color: #0f4366;
}