body{
    font-family: Arial;
}
h2{
    margin-top: 40px;
}
.box {
    background-color: lightblue;
    margin: 10px;
    text-align: center;
    border: 3px solid black;
}
/* BLOCK

.block div{
    display: block;
    width: 200px;
    height: 80px;
} */

/* INLINE */

/* .inline span {
    display: inline;
    width: 200px; /* THIS WILL NOT WORK 
    height: 80px;    /* THIS WILL NOT WORK 
    background: red;
    border: 2px solid black;
    margin: 10px;
}



/* INLINE -BLOCK */

  .inline-block div {
    display: inline block;
    width: 200px; 
    height: 80px;    
    background: red;
    border: 2px solid black;
    margin: 10px;line-height: 80px;
    text-align: center;
} 