.box {
    width: 100px;
    height: 100px;
    background-color: blue;
    animation: moveBox 2s 3 forwards ; 
}



@keyframes moveBox{
    0% {background: red;}
   50%{ background: green;}
   100%{background: yellow;}
    from{
        transform: translateX(0) rotate(0deg)
    }
    to{
        transform: translateX(300px) rotate(360deg)
    }
}






