body {
    font-family: Arial;
}
.container {
    display: flex;
    background: lightblue;
    margin-bottom: 30px;
    height: 100px;
}
.box{
    width: 80px;
    height: 80px;
    background: rgb(230, 173, 218);
    text-align: center;
    line-height: 80px;
    font-size: 20px;
}

/* justify content valuse  */

    /* flex start  */

 .start{
    justify-content: flex-start;
} 

        /* center  */


 .center{
    justify-content: center;
} 


        /* space-between */

.between {
    justify-content: space-between;

}

       /* space-around */

.around{
    justify-content: space-around;
}

.evenly{
    justify-content: space-evenly;
}