body {
    font-family: Arial;
}
.container {
    display: flex;
    background: lightblue;
    margin-bottom: 30px;
    height: 280px;
}
.box{
    width: 80px;
    height: 80px;
    background: rgb(230, 173, 218);
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    border: 2px solid black;
}


            /* Row  */ 

.row{
    flex-direction: row;

}

             /* colum */
.column{
    flex-direction: column;
}       

         /* row-reverse  */

.row-reverse{
    flex-direction: row-reverse;
}

         /* column revers  */

.column-reverse{
    flex-direction: column-reverse;
}