.card {
    background:skyblue;
    color:black;
    border: none;
    padding: 10px 20px;
    transition: all 3s  ease-in-out;
    display: inline-block;


} 
.card:hover{

    transform:translateY(-10px) ; /*udata ganna oninam - denna oni /pahalata gannonam +(translateY(+10px) ;)*/ 
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}